.container {
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.reportCard {
  background-color: #d9d9d9;
  border-radius: 40px;
  padding: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  margin-bottom: 15px;
  font-size: 20px;
}

.tableHeader,
.reportRow {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 2.5fr 1fr 0.8fr 0.8fr;
  align-items: center;
  gap: 10px;
}

.tableHeader {
  background-color: #4dfc50;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

.headerCell {
  text-align: center;
  border-right: 1px solid #000;
}

.headerCell:last-child {
  border-right: none;
}

.reportRow {
  margin-bottom: 15px;
}

.cell {
  display: flex;
  justify-content: center;
  border-right: 1px solid #000;
  height: 100%;
  align-items: center;
  padding: 5px;
}

.cell:last-child {
  border-right: none;
}

.badgeGray {
  background-color: #e0e0e0;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.nextLink {
  background-color: #e0e0e0;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}
.nextLink:hover {
  /* transform: translateY(-3px); */
  color: #3653f8;
}

.detailBubble {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 20px;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
}

.statusBtn {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.suspend {
  background-color: #ff8c8c;
}
.warn {
  background-color: #ffff00;
}
.review {
  background-color: #ffd8b1;
}

.statusBtn:hover {
  opacity: 0.7;
  transform: translateY(-2px);
  transition: all 0.2s;
}
